body{
    background-color: #007155;
    color: rgb(38, 36, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFD416;
    margin-top: 0px;
  }
  /*Navigation Bar*/
  .nav-container{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fce57c;
  }
  .nav-bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;
  }
  .nav-item{
    border-right: 2px solid #007155;
    display: block;
    padding: 12px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .nav-bar a{
    display: block;
    text-decoration: none; /* Remove underline */
    color: #797575;
  }
  .nav-bar :hover{
    background-color: rgb(83, 95, 80);
    color: #FFD416;

  }
  .nav-item a:visited{
    color: #538861;
  }

/*RESTAURANTS LIST*/
/* Style for the entire container */
.restaurant-container {
  display: flex;                    
  flex-direction: column;             
  justify-content: center;          
  align-items: center;               
  text-align: center;                
  padding: 2%;    
  background-color: #007155;               
}

/* Style for the heading */
#restaurant-header{ 
  color: #FFD416; 
  margin-top: 20%;
  background-color: #538861;
  padding-left: 2%;
  padding-right: 2%;
}
h1{
  font-size: 28px;
}

p{
  font-size: 20px;
}
/* Style for the ranked list */
.ranked-restaurants {
  list-style-position: inside;        
  padding: 0;                        
  margin: 0;   
  margin-top: 3%;  
}
/* Style for the list items */
strong{
  color: #FFD416;
  font-size: 22px;
}
.ranked-restaurants p {
  font-size: 16px;                    
  color: #fce57c;                     
  margin: 8px 0;                     
}